* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    background-color: rgb(255, 216, 216);
}

body {
    font-size: 15px;
    width: 50vw;
    height: 50vh;
}

.titulo-abs {
    font-size: 24px;
}

.abs {
    width: 100px;
    height: 50px;
    background-color: burlywood;
}

.rel {
    width: 50%;
    background-color: rgb(88, 105, 233);
    /* El doble del font-size del padre, que es el body */
    font-size: 2em;
}

.rel-parrafo {
    /* La mitad del font-size del html raíz */
    font-size: 0.5rem;
}

.rel-padre {
    background-color: indianred;
    height: 300px;
}

.rel-padre > p {
    color: white;
    background-color: rgb(62, 36, 90);
    height: 50%;
}