* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    border:2px solid black;
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 100px 100px;
    justify-items: center;
    align-items: center;
}

.item {
    background-color: aliceblue;
    border: 1px solid blue;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.item:nth-child(1) {
    background-color: aquamarine;
    grid-column: 1 / 3; /* ocupa las culomnas 1 y 2 */
    grid-row: 1 / 2; /* ocupa la fila 1 */
}

.item:nth-child(4) {
    background-color: chocolate;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}




/* Opciones de Columnas */
/*
    grid-template-columns: 200px 200px 200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr 2fr);
    grid-template-columns: 150px auto 150px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
*/